.cards__container {
    .cards__container__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cards__container__header__left {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #A9ABB2;
        }

        .cards__container__header__right {
            display: flex;
            align-items: center;

            .cards__container__header__right__icon {
                height: 20px;
                cursor: pointer;
            }

            .cards__container__header__right__text {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                text-align: right;
                color: #256EFF;
                padding-right: 7px;
                cursor: pointer;
            }
        }

    }

    .cards__container__body {

        display: grid;

        grid-template-columns: repeat(3, 1fr);

        grid-auto-rows: auto;

        margin-top: 26px;
        margin-bottom: 26px;
        row-gap: 24px;
        column-gap: 32px;
    }
}


.card {
    width: 100%;



    .card__container {
        padding-top: 24px;
        padding-right: 16px;
        padding-bottom: 13px;
        padding-left: 24px;
        position: relative;


        .card__active {
            position: absolute;
            top: 12px;
            right: 13px;
            display: flex;
            align-items: center;

            .card__active__icon {
                height: 8px;
                width: 8px;
                background: #3DDC97;
                box-shadow: 0px 3px 6px rgba(61, 220, 151, 0.5);
                border-radius: 50px;

            }

            .card__notactive__icon {
                height: 8px;
                width: 8px;
                background: #A9ABB2;
                border-radius: 50px;

            }

            .card__active__activestatus {
                font-weight: 500;
                font-size: 8px;
                line-height: 12px;
                text-align: right;
                padding-right: 7px;
                letter-spacing: 0.64px;
                color: #3DDC97;

                &.notactive{
                    color: #A9ABB2;
                }
            }
        }


        .card__container__header {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .card__container__header__img {
                height: 44px;
                background-color: #F6F6F6;
                padding: 3px;
                cursor: pointer;
            }

            .card__container__header__info {
                padding-left: 8px;

                .card__container__header__info__title {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21px;
                    color: #424242;
                    cursor: pointer;
                    transition: 0.2s ease-in;
                    &:hover{
                        color: #256EFF;
                        transition: 0.2s ease-in;
                    }
                }

                .card__container__header__info__date {
                    font-weight: 400;
                    font-size: 8px;
                    line-height: 12px;

                    color: #424242;
                }
            }
        }

        .card__container__body {
            margin-top: 19px;
            margin-bottom: 19px;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #A9ABB2;
        }

        .card__container__icons {
            display: grid;

            grid-template-columns: repeat(2, 1fr);

            grid-auto-rows: auto;



            .card__container__icons__item {
                display: flex;
                align-items: center;
                margin-bottom: 11px;
                margin-left: 13px;
                width: fit-content;

                &.graybg {
                    background-color: #F6F6F6;
                    border-radius: 4px;
                    width: fit-content;

                    .card__container__icons__item__text {
                        font-size: 10px;
                        padding-right: 7px;
                    }

                    .card__container__icons__item__icon {
                        padding-left: 9px;
                        padding-top: 3px;
                        padding-bottom: 3px;

                    }
                }


                .card__container__icons__item__icon {
                    display: flex;

                    .card__container__icons__item__img {
                        height: 18px;

                    }
                }


                .card__container__icons__item__text {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;

                    color: #424242;
                    padding-left: 4px;
                }
            }
        }
    }
}